
{% extends "page.html" %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      <div role="main" class="hero">
        <div class="container">
          {% snippet 'home/snippets/search.html' %}
          {% snippet 'home/snippets/organizations.html' %}
        </div>
      </div>
      <div role="main">
        <div class="container">
          {% snippet 'home/snippets/groups.html' %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
