{% set organizations = h.get_featured_organizations(5) %}

{% if organizations %}
  <h3>{% trans %}Browse by organization{% endtrans %}</h3>
  {% for organization in organizations %}
    {% if organization.image_display_url %}
      {% set url=h.url_for(controller='organization', action='read', id=organization.name) %}
      <a class="module-image" href="{{ url }}"
          title="{{ organization.title }}">
        <img src="{{ organization.image_display_url }}"
          alt="{{ organization.title }}" />
      </a>
    {% endif %}
  {% endfor %}
{% endif %}
