{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:400,400i,700" type="text/css" media="screen">
  <link rel="stylesheet" href="/rpctheme.css" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="module" src="https://unpkg.com/@ccrpc/charts@0.9.3/dist/ccrpc-charts/ccrpc-charts.esm.js"></script>
  <script nomodule src="https://unpkg.com/@ccrpc/charts@0.9.3/dist/ccrpc-charts/ccrpc-charts.js"></script>
  <script type='text/javascript' src='https://reportcard.ccrpc.org/static/reportcard/components/reportcard.js'></script>
{% endblock %}
